<!DOCTYPE html>
<html>
<body>

<h1>forget</h1>

<form action="check/" method="post">
{% csrf_token %}
SSN:<br>
<input name="ssn" required>
<br><br>
<label for="security_question">Security Question:<br></label>
<select name="security_question" id='p01' required>
  <option value="1">In what city were you born?</option>
  <option value="2">What is the name of your favorite pet?</option>
  <option value="3">What is your mother's maiden name?</option>
  <option value="4">What high school did you attend?</option>
  <option value="5">What was the name of your elementary school?</option>
  <option value="6">What was the make of your first car?</option>
  <option value="7">What was your favorite food as a child?</option>
</select>
<br><br>
Answer:<br>
<input name="answer" required>
<br><br>
<input type="submit" value="check">
</form>

{% if messages %}
  {% for message in messages %}
    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
{% endif %}

</body>
</html>
