<!DOCTYPE html>
<html>
<body>

<h1>loged in successfully</h1>

First Name:<br>
<tr>
<td>{{ first_name }}</td>
</tr>
<br><br>
Last Name:<br>
<tr> <td>{{last_name}}</td> </tr>
<br><br>
User Name:<br>
<tr> <td>{{user_name}}</td> </tr>
<br><br>
Password:<br>
<tr> <td>{{password}}</td> </tr>
<br><br>
SSN:<br>
<tr> <td>{{ssn}}</td> </tr>
<br><br>
Email:<br>
<tr> <td>{{email}}</td> </tr>
<br><br>
Phone Number:<br>
<tr> <td>{{phone}}</td> </tr>
<br><br>
Security Question:<br>
<tr> <td>{{security_question}}</td> </tr>
<br><br>
Answer:<br>
<tr> <td>{{answer}}</td> </tr>
<br><br


</body>
</html>
