<!DOCTYPE html>
<html>
<body>

<h1>signup</h1>

<form action="addrecord/" method="post">
{% csrf_token %}
First Name:<br>
<input name="first_name">
<br><br>
Last Name:<br>
<input name="last_name">
<br><br>
User Name:<br>
<input name="user_name">
<br><br>
Password:<br>
<input name="password">
<br><br>
SSN:<br>
<input name="ssn">
<br><br>
Email:<br>
<input name="email">
<br><br>
Phone Number:<br>
<input name="phone">
<br><br>
Security Question:<br>
<input name="security_question">
<br><br>
Answer:<br>
<input name="answer">
<br><br>
<input type="submit" value="sign up">
</form>
<br><br>
<a href="{% url 'login' %}">login</a>
</body>
</html>
